.title {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
.sub_title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.sub_sub_title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.setting {
    font-size: large;
}
.setting_blue {
    font-size: large;
    color: blue;
    font-weight: bold;
}
.text {
    font-size: medium;
}
.radio_size {
    width: x-large;
    height: x-large;
}
.coords {
    border-collapse: collapse;
    background-color: white;
}
.white_element{
    background-color: white;
}
.coord_cell {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 7vmin;
    height: 7vmin;
    border: 0.25vmin solid transparent;
    background-color: white;
}
.coord {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 7vmin;
    height: 7vmin;
    font-size: 3.5vmin;
    font-weight: bolder;
}
.board {
    margin: auto;
    padding: 0px;
    width: 56vmin;
    height: 56vmin;
    background: rgb(36, 153, 114);
    border-collapse: collapse;
    font-size: 0pt;
    table-layout: fixed;
}
.cell {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 7vmin;
    height: 7vmin;
    border: 3px solid rgb(0, 0, 0);
}
.black_stone {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 6vmin;
    height: 6vmin;
    background-color: rgb(0, 0, 0);
    border-radius: 3vmin;
    display: inline-block;
}
.white_stone {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 6vmin;
    height: 6vmin;
    background-color: rgb(255, 255, 255);
    border-radius: 3vmin;
    display: inline-block;
}
@keyframes flip {
    0% {
        width: 0vmin;
    }
    100% {
        width: 6vmin;
    }
}
.legal_stone_black {
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    width: 6vmin;
    height: 6vmin;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3vmin;
    display: inline-block;
    font-size: 3vmin;
    cursor: default;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.legal_stone_white {
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    width: 6vmin;
    height: 6vmin;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3vmin;
    display: inline-block;
    font-size: 3vmin;
    cursor: default;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty_stone {
    text-align: center;
    margin: 0px;
    width: 7vmin;
    height: 7vmin;
    background: rgb(36, 153, 114);
    display: inline-block;
}
.status {
    margin-top: 1vmin;
    padding: 0px;
    width: 49vmin;
    height: 7vmin;
    border-collapse: collapse;
    font-size: 0vw;
}
.status_cell {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 7vmin;
    height: 7vmin;
    background-color: rgb(180, 180, 180);
}
.status_char {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 7vmin;
    height: 7vmin;
    background-color: rgb(180, 180, 180);
    font-size: 4vmin;
    font-weight: bolder;
}
.status_blank {
    margin: 0px;
    width: 7vmin;
    height: 7vmin;
    text-align: center;
    display: inline-block;
}
.record {
    overflow-wrap: break-word;
}
.custom {
    display: none;
}
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}
.popup.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 0;
    background-color: #fff;
    z-index: 2;
}
.popup-inner img {
    width: 100%;
}
.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
}
.image {
    width: 50vmin;
}
.hidden {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.logs {
    padding: 0px;
    border: 3px solid rgb(0, 0, 0);
}
.details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}
.summary {
    font-size: x-large;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}
.summary_small {
    font-size: large;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}
.rect {
    border: 1px solid #aaa;
    padding: 0.5em;
}
.chart {
    width: 100%;
    height: 40vmin;
}