*.out
*.exe
*/__pycache__
/*/third_party
/*/data/
/*/learned_data
/*/legacy
*.dat
/evaluation/*.txt
/evaluation/eval_testcases
/evaluation/resources
#/src/resources
#img
/release
/release_old
src/log.txt
src/testcases
/move_ordering/*.txt
legacy
src/test/*.exe
src/test/*.out
src/*.out
src/*.exe
src/test/close_quest.txt
src/test/ignore
/evaluation_test/*.dat
/evaluation_test/*.exe
/evaluation_test/graph
/src/build
/src/test/resources
src/ai.js
src/ai.wasm
statistics/data
statistics/statistics
statistics/resources
stability
probcut/data
move_ordering/mid/data
move_ordering/mid/resources
null_move_pruning/data
move_ordering/end_last7/data
move_ordering/end_last7/learned_data
src/problem
src/edax-4.4
src/data
src/openingssmall.txt
src/__pycache__
src/test
web_resources
web_resources/node_modules
web_resources_former/generated
src/tools/statistics/data
src/tools/statistics/statistics
src/tools/probcut/data
src/tools/opening/data
src/tools/opening/learned_data
src/tools/hash/data
src/tools/hash/learned_data
train_data/bin_data
train_data/board_data
train_data/transcript