*.out
*.exe
*/__pycache__
*/legacy
*/data
*/statistics
*/output
*/learned_data
*/trained
*/trained_data

build
model
release
train_data

bin/data
bin/problem
bin/versions
bin/transcript

src/ai.js
src/ai.wasm

web_resources/generated


src/tools/evaluation/trained
11
src/tools/convert_board_data/book
src/tools/cut_transcript/result
src/tools/evaluation/nnue/trained