# common
**/*.out
**/*.exe
**/__pycache__
**/legacy
**/data
**/statistics
**/output
**/learned_data
**/trained
**/trained_data

# special directories
build
model
release
train_data

# bin directory
bin/data
bin/problem
bin/versions
bin/transcript
bin/resources/book

# img directory
img/demo

# src directory
src/ai.js
src/ai.wasm

# web_resources directory
web_resources/generated
