label {
    line-height: 1.7;
    margin-left: 0.7%;
    margin-right: 0.7%;
}
.title {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
.sub_title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.sub_sub_title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.setting {
    font-size: large;
    margin: 5px;
}
.text {
    font-size: medium;
}
.radio_size {
    width: x-large;
    height: x-large;
}
.div_main {
    line-height: 0.0em;
}
.table_board {
    border: 0px solid #333;
}
.coords {
    border-collapse: collapse;
    background-color: white;
}
.white_element{
    background-color: white;
    border: 0px;
}
.coord_cell {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: min(min(1000px, 95vw) / 11, 7vmin);
    height: min(min(1000px, 95vw) / 11, 7vmin);
    border: 0%;
    background-color: white;
}
.coord {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: min(min(1000px, 95vw) / 11, 7vmin);
    height: min(min(1000px, 95vw) / 11, 7vmin);
    font-size: min(min(1000px, 95vw) / 22, 3.5vmin);
    font-weight: bolder;
}
.cell {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: min(min(1000px, 95vw) / 11, 7vmin);
    height: min(min(1000px, 95vw) / 11, 7vmin);
    border: max(2px, min(min(1000px, 95vw) / 100, 0.5vmin)) solid rgb(0, 0, 0);
    background: rgb(36, 153, 114);
}
.black_stone {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: min(min(1000px, 95vw) / 13, 6vmin);
    height: min(min(1000px, 95vw) / 13, 6vmin);
    border-radius: min(min(1000px, 95vw) / 26, 3vmin);
    background-color: rgb(0, 0, 0);
    display: inline-block;
}
.white_stone {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: min(min(1000px, 95vw) / 13, 6vmin);
    height: min(min(1000px, 95vw) / 13, 6vmin);
    border-radius: min(min(1000px, 95vw) / 26, 3vmin);
    background-color: rgb(255, 255, 255);
    display: inline-block;
}
.legal_stone_black {
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    width: min(min(1000px, 95vw) / 13, 6vmin);
    height: min(min(1000px, 95vw) / 13, 6vmin);
    border-radius: min(min(1000px, 95vw) / 26, 3vmin);
    font-size: min(min(1000px, 95vw) / 26, 3vmin);
    background-color: rgba(0, 0, 0, 0.15);
    display: inline-block;
    cursor: default;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.legal_stone_white {
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    width: min(min(1000px, 95vw) / 13, 6vmin);
    height: min(min(1000px, 95vw) / 13, 6vmin);
    border-radius: min(min(1000px, 95vw) / 26, 3vmin);
    font-size: min(min(1000px, 95vw) / 26, 3vmin);
    background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    cursor: default;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty_stone {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
    display: inline-block;
}
.status {
    margin-top: 1vmin;
    padding: 0px;
    width: min(min(1000px, 95vw), 49vmin);
    border-collapse: collapse;
    font-size: 0vw;
}
.status_cell {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: min(min(1000px, 95vw) / 11, 7vmin);
    height: min(min(1000px, 95vw) / 11, 7vmin);
    background-color: rgb(180, 180, 180);
}
.status_char {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: min(min(1000px, 95vw) / 11, 7vmin);
    height: min(min(1000px, 95vw) / 11, 7vmin);
    background-color: rgb(180, 180, 180);
    font-size: min(min(1000px, 95vw) / 18, 4vmin);
    font-weight: bolder;
}
.status_blank {
    margin: 0px;
    width: min(min(1000px, 95vw) / 11, 7vmin);
    height: min(min(1000px, 95vw) / 11, 7vmin);
    text-align: center;
    display: inline-block;
}
.record {
    overflow-wrap: break-word;
}
.custom {
    display: none;
}
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}
.popup.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    max-width: 600px;
    padding: 0;
    background-color: #fff;
    z-index: 2;
    text-align: center;
}
.popup-inner img {
    width: 60%;
}
.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
}
.hidden {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.logs {
    padding: 0px;
    border: max(2px, 0.5vmin) solid rgb(0, 0, 0);
}
.details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}
.summary {
    font-size: x-large;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}
.summary_small {
    font-size: large;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}
.rect {
    border: 1px solid #aaa;
    padding: 0.5em;
}
.chart {
    width: 100%;
    height: 320px;
}
.info {
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 420px;
    margin-top: 20px;
    margin-bottom: 20px;
}