html, body {
    font-family: "Arial", "メイリオ";
}

table{
    border-collapse:  collapse;
}

tr:nth-child(odd){
    background-color:  #eee;
}

th{
    padding: 5px 10px;
    background-color:  #ccc;
}

td{
    padding: 5px 10px;
}

table{
    margin: auto;
}

.pic{
    display: block;
    margin: auto;
    width: 70vmin;
}

.pic2{
    width: min(20vh, 45%);
}

.box{
    width: min(100vh, 90vw);
    text-align: start;
    margin: 0 auto;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.h3_left{
    font-size: larger;
    font-weight: bold;
    text-align: left;
}

.menu_bar{
    width: 100%;
    height: min(5vw, 50px);
    background-color:  #3F9770;
    display: flex;
    align-items: center;
}

.menu_a{
    text-decoration: none;
    height: 100%;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.bar_icon{
    height: min(5vw, 50px);
    width: min(5vw, 50px);
    vertical-align: middle;
}

.menu_button{
    width: min(15vw, 130px);
    height: min(5vw, 50px);
    background-color:  #3F9770;
    display: inline-block; 
    text-align: center;
    display: table;
    vertical-align: middle;
    font-size: min(1.7vw, 12pt);
}

.download_a{
    text-decoration: none;
    height: 100%;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.download_button{
    width: 100%;
    height: min(5vw, 50px);
    background-color:  #3F9770;
    display: inline-block; 
    text-align: center;
    display: table;
    vertical-align: middle;
}